body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.big-container {
  display: flex;
  flex-direction: row;
}

.genre-div {
  float: left;
  width: 25%;
}

.artist-div {
  float: left;
  width: 25%;
}

.album-div {
  float: left;
  width: 25%;
}

.selection-div {
  float: left;
  width: 25%;
}

.menu-div {
  display: flex;
  flex-direction: row;
}

.home-page {
  float: left;
  width: 10%;
}

.playlist-page {
  float: left;
  width: 10%;
}

.add-song-page {
  float: left;
  width: 10%;
}

.selected-list-item {
  background-color: lightblue;
  font-weight: bold;
}